#!/bin/bash

VERSION={{VERSION}}
CURRENT_DIR=$(dirname "$(realpath "$0")")

{{CONTAINER_TOOL}} run -d \
    -v $CURRENT_DIR/data:/data \
    --env-file $CURRENT_DIR/.env \
    --network host \
    --restart unless-stopped \
    --name smart-home-media-assistant-telegram-bot \
    ghcr.io/strayiker/smart-home-media-assistant-telegram-bot:$VERSION
{{CONTAINER_TOOL}} logs -f smart-home-media-assistant-telegram-bot
