#!/bin/bash

docker stop smart-home-media-assistant-telegram-bot-api || true
docker rm smart-home-media-assistant-telegram-bot-api || true
docker stop smart-home-media-assistant-telegram-bot || true
docker rm smart-home-media-assistant-telegram-bot || true
