name: Release
on: workflow_dispatch
jobs:
  # build
  build:
    name: Build
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      # checkout
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # to fetch all history for all branches and tags
      # setup node.js
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: yarn
      # dependencies
      - name: Dependencies
        run: yarn install --immutable
      # lint
      - name: Lint
        run: yarn lint
      # build
      - name: Build
        run: yarn build
      # upload artifacts
      - name: Upload Artifacts
        uses: actions/upload-artifact@v5
        with:
          name: build
          path: |
            dist
            package.json
      # determine release version
      - id: version
        name: Determine Release Version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: echo "version=$(yarn semantic-release -d | grep "The next release version is " | sed 's/.*The next release version is //')" >> $GITHUB_OUTPUT
  # create docker image
  docker:
    if: needs.build.outputs.version != ''
    name: Docker
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      # checkout
      - name: Checkout
        uses: actions/checkout@v6
      # download build artifacts
      - name: Download Artifacts
        uses: actions/download-artifact@v7
        with:
          name: build
      # setup docker buildx
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      # login docker
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      # build and push
      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ needs.build.outputs.version }}
  # up version and create release in github
  release:
    if: needs.build.outputs.version != ''
    name: Release
    needs: [build, docker]
    runs-on: ubuntu-latest
    steps:
      # checkout
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # to fetch all history for all branches and tags
      # setup node.js
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: yarn
      # dependencies
      - name: Dependencies
        run: yarn install --immutable
      # release
      - id: release
        name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: yarn semantic-release
